# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDEs
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# Android
android/.gradle/
android/.idea/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/.last_build_id

# Local tooling / SDKs
.fvm/
.fvmrc

# OS files
Thumbs.db

# Secrets / env
.env
.env.*
secrets.json
*.jks

# Symbolication / obfuscation
app.*.symbols
app.*.map.json
